<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>SOS WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    #include("header.html")

<div class="container-fluid">

    <div id="timeline"></div>

    <div class="row">
        <div class="col-6">

            <div class="form-inline">
                <div class="form-group">
                    <label for="searchForm">Context Search by Name </label>
                    <input type="text" class="form-control" id="searchContextInput" placeholder="Png">
                </div>
                <div class="form-group mx-sm-3">
                    <button type="button" class="btn btn-success" id="searchContextButton"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
                </div>
                <div class="form-group mx-sm-3">
                    <button type="button" class="btn btn-light" id="clearContextButton"><i class="fa fa-times" aria-hidden="true"></i> Clear</button>
                </div>
            </div>
            <br>
            <h1>List of contexts</h1>
            <ul class="list-group" id="allcontexts">
                #foreach($context in $contexts)
                    <li class="list-group-item flex-column align-items-start">
                        <div class="d-flex justify-content-end">
                            <strong class="mr-auto p-2">$context.getName()</strong>
                            <div class="p-2 btn-group" role="group">
                                <button class="btn btn-success btn-sm" id="viewContext" value="$context.guid().toMultiHash()" type="button"><i class="fa fa-eye" aria-hidden="true"></i> View</button>
                                <button class="btn btn-light btn-sm" id="hideContext" value="$context.guid().toMultiHash()" type="button"><i class="fa fa-eye-slash" aria-hidden="true"></i> Hide</button>
                            </div>
                        </div>
                        <div class="d-flex justify-content-start">
                            <i>$context.guid().toMultiHash()</i>
                        </div>
                        <div class="d-flex justify-content-start">
                            <div class="btn-group" role="group">
                                <button id="runPredicate" value="$context.guid().toMultiHash()" type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-play" aria-hidden="true"></i> Predicate</button>
                                <button id="runPolicies" value="$context.guid().toMultiHash()" type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-play" aria-hidden="true"></i> Policy</button>
                                <button id="runCheckPolicies" value="$context.guid().toMultiHash()" type="button" class="btn btn-outline-success btn-sm"><i class="fa fa-play" aria-hidden="true"></i> Policy (check)</button>
                            </div>
                        </div>
                    </li>
                #end
            </ul>
            <br>
            <h3>Contents for Context <strong class="text-success"><span id="contextid"></span></strong>:</h3>
            <pre style="white-space: pre-wrap; word-wrap: break-word;"><code class="json" id="context_json"></code></pre>
            <ul class="list-group" id="contents"></ul>

            <hr>

            <h1>Create context</h1>
            <form action="/contexts" method="post">
                <textarea cols="100" id="contextJSON" name="contextJSON" rows="15"></textarea>
                <br>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExamples" aria-expanded="false" aria-controls="collapseExamples">Show/Hide Examples</button>
                <button type="button" class="btn btn-info" id="previewClass">Preview Class</button>
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
            <div class="collapse" id="collapseExamples">
                <div class="card card-body">
                    <strong>Examples</strong>
                    <pre><code class="json">
{
  "context": {
    "name": "ALL_All",
    "domain": {
      "type": "LOCAL",
      "nodes": []
    },
    "codomain": {
      "type": "LOCAL",
      "nodes": []
    }
  },
  "predicate": {
    "type": "Predicate",
    "predicate": "CommonPredicates.AcceptAll();"
  },
  "max_age": 0,
  "policies": []
}

                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "Jpeg",
    "predicate": "CommonPredicates.ContentTypePredicate(guid, Collections.singletonList(\"image/jpeg\"));"
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "Binary",
    "predicate": "CommonPredicates.ContentTypePredicate(guid, Collections.singletonList(\"application/octet-stream\"));"
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "AllDataReplication",
    "predicate": "CommonPredicates.AcceptAll();",
    "policies" : [
            "CommonPolicies.DataReplicationPolicy(commonUtilities, codomain, 1)"
    	],
    "codomain": {
        "type" : "SPECIFIED",
        "nodes" : [ "SHA256_16_1111a025d7d3b2cf782da0ef24423181fdd4096091bd8cc18b18c3aab9cb00a4" ]
    }
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "AllManifestReplication",
    "predicate": "CommonPredicates.AcceptAll();",
    "policies" : [
    	    "CommonPolicies.ManifestReplicationPolicy(commonUtilities, codomain, 1)"
    	],
    "codomain": {
        "type" : "SPECIFIED",
        "nodes" : [ "SHA256_16_1111a025d7d3b2cf782da0ef24423181fdd4096091bd8cc18b18c3aab9cb00a4" ]
    }
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "AllManifestAndDataReplication",
    "predicate": "CommonPredicates.AcceptAll();",
    "policies" : [
    	    "CommonPolicies.ManifestReplicationPolicy(commonUtilities, codomain, 1)",
            "CommonPolicies.DataReplicationPolicy(commonUtilities, codomain, 1)"
    	],
    "codomain": {
        "type" : "SPECIFIED",
        "nodes" : [ "SHA256_16_1111a025d7d3b2cf782da0ef24423181fdd4096091bd8cc18b18c3aab9cb00a4" ]
    }
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "AllVersionsReplication",
    "predicate": "CommonPredicates.AcceptAll();",
    "policies" : [
            "CommonPolicies.ReplicateAllVersionsPolicy(commonUtilities, codomain, 1)"
    	],
    "codomain": {
        "type" : "SPECIFIED",
        "nodes" : [ "SHA256_16_1111a025d7d3b2cf782da0ef24423181fdd4096091bd8cc18b18c3aab9cb00a4" ]
    }
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "Protected",
    "predicate": "CommonPredicates.ContentIsProtected(guid);"
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "NotProtected",
    "predicate": "CommonPredicates.ContentIsNotProtected(guid);"
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "JavaMethod",
    "predicate": "CommonPredicates.JavaFileHasMethod(guid, \"MetadataPropertyPredicate\");"
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "JavaClazz",
    "predicate": "CommonPredicates.JavaFileHasClass(guid, \"CommonPredicates\");"
}
                    </code></pre>
                </div>
            </div>
            <hr>
            <h1>Context Java Class Preview</h1>
            <div style="overflow-y:scroll; height:700px;">
                <pre style="white-space: pre-wrap; word-wrap: break-word;"><code id="preview"></code></pre>
            </div>
        </div>

        <div class="col-6">
            #parse("manifestTemplate.vm")
        </div>
    </div>

    <br><br><br>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.1/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $("#searchContextButton").click(function() {

        var contextNameToSearch = $('#searchContextInput').val();
        console.log(contextNameToSearch);

        $.get("/context/search/" + contextNameToSearch , function(data) {

            // Hide all
            ul = document.getElementById("allcontexts");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                li[i].style.display = "none";
            }

            var filter, ul, li, a, i;
            contextsFound = JSON.parse(data);
            $.each(contextsFound, function(key, value) {

                context = JSON.parse(value);
                filter = context.name.toUpperCase();
                ul = document.getElementById("allcontexts");
                li = ul.getElementsByTagName("li");
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("strong")[0];
                    if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                    }
                }
            });

        });

    });

    $("#clearContextButton").click(function() {

        // SHOW ALL CONTEXTS
        ul = document.getElementById("allcontexts");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            li[i].style.display = "";
        }

    });

    $("#previewClass").click(function() {

        var ugly = document.getElementById('contextJSON').value;
        var obj = JSON.parse(ugly);
        var pretty = JSON.stringify(obj, undefined, 4);

        $.ajax({
            type: 'POST',
            url: '/preview',
            data: pretty,
            success: function(data) {
                $('#preview').html(data);
                hljs.highlightBlock($('#preview')[0]);
            },
            contentType: 'application/json'
        });
    });

    $('button[id^="viewContext"]').click(function() {

        var id = $(this).val();
        $.get("/context/" + id + "/contents" , function(data) {

            $('#contextid').html(id.substring(0, 15));

            list = $('#contents');
            list.empty();
            context = JSON.parse(data);

            var obj = JSON.parse(context.context_json);
            var pretty = JSON.stringify(obj, undefined, 4);

            $('#context_json').html(pretty);
            hljs.highlightBlock($('#context_json')[0]);

            $.each(context.contents, function(key, value) {

                var policySatisfiedHTML;
                if (value.policySatisfied) {
                    policySatisfiedHTML = "<span class=\"text-success\">" + value.policySatisfied + "</span>";
                } else {
                    policySatisfiedHTML = "<span class=\"text-danger\">" + value.policySatisfied + "</span>";
                }

                list.append("<li class=\"list-group-item flex-column align-items-start\" id='" + key + "'>" +
                        "<div class=\"d-flex w-100 justify-content-between\">" +
                        "<h5 class=\"mb-1\">" + key + "</h5>" +
                        " <button id=\"more" + key + "\" value=" + key + " type=\"button\" class=\"btn btn-outline-dark btn-sm\"><i class=\"fa fa-arrow-right\" aria-hidden=\"true\"></i></button>" +
                        "</div>" +
                        "<p class=\"mb-1\"><strong>Policy Satisfied</strong> : " + policySatisfiedHTML + "</p>" +
                        "<p class=\"mb-1\"><strong>Predicate run </strong> : " + new Date(value.timestamp.epochSecond * 1000) + "</p>" +
                        "</li>" );
            });

            // Register the buttons with the showVersionInfo function (see manifestTemplate.vm)
            $('button[id^="more"').click(showVersionInfo);
        });
    });

    $('button[id^="hideContext"]').click(function() {

        $('#contextid').html("");
        $('#context_json').html("");

        list = $('#contents');
        list.empty();
    });

    $('button[id^="runPredicate"]').click(function() {

        var id = $(this).val();
        $.get("/context/" + id + "/run/predicate");
    });

    $('button[id^="runPolicies"]').click(function() {

        var id = $(this).val();
        $.get("/context/" + id + "/run/policies");
    });

    $('button[id^="runCheckPolicies"]').click(function() {

        var id = $(this).val();
        $.get("/context/" + id + "/run/checkpolicies");
    });

</script>

<script>
    google.charts.load('current', {'packages':['timeline']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {

        (function(){
            var jsonData = $.ajax({
                url: "/threads",
                dataType: "json",
                async: false
            }).responseText;

            var data = JSON.parse(jsonData);
            var dataTable = new google.visualization.DataTable(data);

            var container = document.getElementById('timeline');
            var chart = new google.visualization.Timeline(container);
            chart.draw(dataTable);

            setTimeout(arguments.callee, 1000);
        })();

    }
</script>
</body>
</html>
