<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOS WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
</head>
<body>
<div id="header"></div>
<div class="container-fluid">

    <h1>Create context</h1>
    <form action="/contexts" method="POST">
        <textarea id="contextJSON" name="contextJSON" rows="15" cols="80"></textarea>
        <br>

        <button onclick="prettyPrint()">Pretty Print</button>
        <input type="submit" value="Submit">
    </form>

    <br>
    <strong>Examples</strong>
    <code style=display:block;white-space:pre-wrap>
        {
            "name": "VoidContext",
        }
    </code>
    <br>
    <code style=display:block;white-space:pre-wrap>
        {
            "name": "Simone",
            "predicate": "CommonPredicates.ContentTypePredicate(guid, Collections.singletonList(\"image/jpeg\"));"
        }
    </code>
    <br>
    <code style=display:block;white-space:pre-wrap>
        {
        "name": "Binary",
        "predicate": "CommonPredicates.ContentTypePredicate(guid, Collections.singletonList(\"application/octet-stream\"));"
        }
    </code>

    <h1>List of contexts</h1>

    <ul>
        #foreach($context in $contexts)
            <li>
                <pre style="white-space: pre-wrap; word-wrap: break-word;">$context.toString()</pre>
            </li>

        #end
    </ul>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(function(){
        $("#header").load("header.html");
    });

    function prettyPrint() {
        var ugly = document.getElementById('contextJSON').value;
        var obj = JSON.parse(ugly);
        var pretty = JSON.stringify(obj, undefined, 4);
        document.getElementById('contextJSON').value = pretty;
    }
</script>
</body>
</html>
