<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>SOS WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>
        hljs.initHighlightingOnLoad();
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    #include("header.html")

<div class="container-fluid">

    <div id="timeline"></div>

    <div class="row">
        <div class="col-6">
            <h1>List of contexts</h1>
            <ul class="list-group">
                #foreach($context in $contexts)
                    <li class="list-group-item">
                        <pre style="white-space: pre-wrap; word-wrap: break-word;">$context.toString()</pre>
                        <button id="viewContext" value="$context.guid().toMultiHash()" type="button" class="btn">View</button>
                    </li>
                #end
            </ul>
            <br>
            <h3>Contents for Context <strong class="text-success"><span id="contextid"></span></strong>:</h3>
            <ul id="contents"></ul>

            <hr>

            <h1>Create context</h1>
            <form action="/contexts" method="post">
                <textarea cols="60" id="contextJSON" name="contextJSON" rows="15"></textarea>
                <br>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExamples" aria-expanded="false" aria-controls="collapseExamples">Show/Hide Examples</button>
                <button type="button" class="btn btn-info" id="previewClass">Preview Class</button>
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
            <div class="collapse" id="collapseExamples">
                <div class="card card-body">
                    <strong>Examples</strong>
                    <pre><code class="json">
{
    "name": "Allv1",
    "predicate": "CommonPredicates.AcceptAll();"
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "Allv2",
    "predicate": "True;"
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "Simone",
    "predicate": "CommonPredicates.ContentTypePredicate(guid, Collections.singletonList(\"image/jpeg\"));"
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "Binary",
    "predicate": "CommonPredicates.ContentTypePredicate(guid, Collections.singletonList(\"application/octet-stream\"));"
}
                    </code></pre>
                    <br>
                    <pre><code class="json">
{
    "name": "ImageManifestReplication",
    "predicate": "CommonPredicates.ContentTypePredicate(guid, Collections.singletonList(\"image/jpeg\"));",
    "policies" : [
        "CommonPolicies.ManifestReplicationPolicy(policyActions, codomain, 1)"
    ]
}
                    </code></pre>
                </div>
            </div>
            <hr>
            <h1>Context Java Class Preview</h1>
            <div style="overflow-y:scroll; height:700px;">
                <pre style="white-space: pre-wrap; word-wrap: break-word;"><code id="preview"></code></pre>
            </div>
        </div>

        <div class="col-6">
            #parse("manifestTemplate.vm")
        </div>
    </div>

    <br><br><br>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.1/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<script type="text/javascript">

    $("#previewClass").click(function() {

        var ugly = document.getElementById('contextJSON').value;
        var obj = JSON.parse(ugly);
        var pretty = JSON.stringify(obj, undefined, 4);

        $.ajax({
            type: 'POST',
            url: '/preview',
            data: pretty,
            success: function(data) {
                $('#preview').html(data);
                hljs.highlightBlock($('#preview')[0]);
            },
            contentType: 'application/json'
        });
    });

    $('button[id^="viewContext"]').click(function() {

        var id = $(this).val();
        $.get("/context/" + id + "/contents" , function(data) {

            $('#contextid').html(id.substring(0, 15));

            list = $('#contents');
            list.empty();
            contexts = JSON.parse(data);

            $.each(contexts.contents, function(key, value) {
                list.append("<li class=\"list-group-item\" id='" + value + "'>" + value +
                        " <button id=\"more" + value + "\" value=" + value + " type=\"button\" class=\"btn btn-outline-dark\"><i class=\"fa fa-arrow-right\" aria-hidden=\"true\"></i></button>" +
                        "</li>" );
            });

            // Register the buttons with the showVersionInfo function (see manifestTemplate.vm)
            $('button[id^="more"').click(showVersionInfo);
        });
    });

</script>

<script>
    google.charts.load('current', {packages: ['line']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {


        (function(){

            var jsonData = $.ajax({
                url: "/threads",
                dataType: "json",
                async: false
            }).responseText;

            var data = JSON.parse(jsonData);
            var dataTable = new google.visualization.DataTable(data);

            var container = document.getElementById('timeline');
            var chart = new google.charts.Line(container);

            var options = {
                chart: {
                    title: 'Context Threads Activity'
                },
                width: 900,
                height: 500,
                vAxis: {
                    viewWindow: {
                        max: 2
                    }
                }
            };

            chart.draw(dataTable, google.charts.Line.convertOptions(options));

            setTimeout(arguments.callee, 5000);
        })();



    }
</script>
</body>
</html>
