<!doctype html>
<html>
<head>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.16.1/vis.min.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #sos-graph {
            width: 1500px;
            height: 1500px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>

<div id="sos-graph"></div>

<script type="text/javascript">
    var nodes = new vis.DataSet(${nodes});
    var edges = new vis.DataSet(${edges});

    // create a network
    var container = document.getElementById('sos-graph');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {};
    var network = new vis.Network(container, data, options);
</script>
</body>
</html>
