<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOS WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" />
</head>
<body>
<div class="container-fluid">
    <br>

    <form action="/data" method="POST" enctype="multipart/form-data">
        <input type="file" name="atom" accept="*/*">
        <input type="submit">
    </form>

    <h3>All Versions </h3>

    <ul class="list-group">
    #foreach($version in $versions)
        <li class="list-group-item">
            <strong>Invariant:</strong> $version.InvariantGUID -
            <strong>Version:</strong> $version.VersionGUID -
            <strong>Content:</strong> $version.ContentGUID</li>
    #end
    </ul>

    <hr>
    <h3>All Compounds </h3>

    <ul class="list-group">
        #foreach($compound in $compounds)
            <li class="list-group-item"><strong>Content:</strong> $compound.ContentGUID
                #if($compound.contents.size() > 0 )
                    <hr>
                    #foreach($content in $compound.contents)
                        $content.label - $content.GUID
                        <br>
                    #end

                #end

            </li>

        #end
    </ul>

    <hr>
    <h3>All Atoms </h3>

    <ul class="list-group">
        #foreach($atom in $atoms)
            <li class="list-group-item"><strong>Content:</strong> $atom.ContentGUID</li>
        #end
    </ul>

    <br>
    Add data
    <br>
    Create compounds/assets
    <br>
    Create metadata
    <br>
    Search data
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

</body>
</html>
