<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOS WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" />
</head>
<body>
<div id="header"></div>
<div class="container-fluid">

    <form action="/data" method="POST" enctype="multipart/form-data"
          class="dropzone" id="my-awesome-dropzone">
        <input type="file" name="file" />
    </form>
    <button id="upload" class="btn btn-success">Upload</button>

    <br>
    <h2>SOS operations</h2>

    <br>
    <h2>All Assets</h2>

    <div class="card-columns">
        #foreach($version in $assets)
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Version: TODO</h4>
                    <p class="card-text">
                        <ul>
                            <li>
                                <strong>Invariant</strong> $version.toMultiHash()
                            </li>
                            <li>
                                <strong>Content</strong> TODO
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        #end
    </div>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>

<script type="text/javascript">
    $(function(){
        $("#header").load("header.html");
    });
</script>
</body>
</html>
