<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
</head>
<body>
#include("header.html")

<h1>App not configured</h1>
</body>
</html>