<div class="alert alert-danger" role="alert" id="manifestAlert" style="display: none">
    Howdy! You need to make sure that a manifest is selected around here!
</div>

<h1>Version <span id="manifestid" class="text-success"></span></h1>
<span id="manifestid_full" hidden></span>
<h2>DAG</h2>
<div class="card">
    <div class="card-body">
        <div id="sos-graph"></div>
    </div>
    <div class="card-footer bg-transparent">
        Selected node: <strong><span id="dag_selected_node" class="text-success"></span></strong>
        <span id="dag_selected_node_full" hidden></span>
        <br>
        <div class="btn-group" role="group">
            <button id="dag_show" type="button" class="btn btn btn-outline-dark">Show Manifests/Data/Metadata</button>
            <button id="dag_seeAllVersions" type="button" class="btn btn btn-outline-dark">See all versions</button>
            <button id="dag_setHead" type="button" class="btn btn btn-outline-dark">Set HEAD</button>
            <button id="dag_explore" type="button" class="btn btn btn-outline-dark">Explore</button>
            <button id="dag_reset" type="button" class="btn btn btn-outline-dark">Reset</button>
        </div>
    </div>
</div>
<br>

<h2>Manifest</h2>
<div class="row">
    <div class="col-6">
        <button id="verifySignature" type="button" class="btn btn btn-outline-dark">Verify Signature</button>
    </div>
    <div class="col-6">
        <select name="userGUID" id="roleForSignatureVerification" class="custom-select">
            #foreach($ur in $usro)
                <option value=$ur.Y().guid().toMultiHash()>$ur.X().getName() :: $ur.Y().getName() - $ur.Y().guid().toShortString()</option>
            #end
        </select>
    </div>
</div>
<br>
<p>Signature verification result: <strong><span id="signatureResult"></span></strong></p>
<div class="card">
    <div class="card-body">
        <pre style="white-space: pre-wrap; word-wrap: break-word;"><code id="manifest" class="json"></code></pre>
    </div>
</div>
<br>

<h2>Data</h2>
<div class="row">
    <div class="col-12">
        <button id="verifyIntegrity" type="button" class="btn btn btn-outline-dark">Verify Data Integrity</button>
        <span>Data integrity result: <strong><span id="integrityResult"></span></strong></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <div class="btn-group" role="group">
            <button id="showData" type="button" class="btn btn btn-outline-dark">Show data</button>
            <button id="downloadData" type="button" class="btn btn btn-outline-success">Download data</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-6">
        <div class="btn-group" role="group">
            <button id="showProtectedData" type="button" class="btn btn btn-outline-dark">Show protected data</button>
            <button id="downloadProtectedData" type="button" class="btn btn btn-outline-success">Download protected data</button>
        </div>
    </div>
    <div class="col-6">
        <select name="userGUID" id="roleForProtectedData" class="custom-select">
            #foreach($ur in $usro)
                <option value=$ur.Y().guid().toMultiHash()>$ur.X().getName() :: $ur.Y().getName() - $ur.Y().guid().toShortString()</option>
            #end
        </select>
    </div>
</div>
<br>
<h5>Access grant</h5>
<div class="row">
    <div class="col-12">
        <select name="userGUID" id="granterRole" class="custom-select">
            #foreach($ur in $usro)
                <option value=$ur.Y().guid().toMultiHash()>$ur.X().getName() :: $ur.Y().getName() - $ur.Y().guid().toShortString()</option>
            #end
        </select>
        <span>grant access to: </span>
        <select name="userGUID" id="granteeRole" class="custom-select">
            #foreach($ur in $usro)
                <option value=$ur.Y().guid().toMultiHash()>$ur.X().getName() :: $ur.Y().getName() - $ur.Y().guid().toShortString()</option>
            #end
        </select>
    </div>
</div>
<br>
<div class="row">
    <div class="col-12">
        <button id="grantAccessToData" type="button" class="btn btn btn-outline-danger">Grant access to protected data</button>
        <strong><span id="grantAccessResult"></span></strong>
    </div>
</div>
<br>
<div class="card">
    <div class="card-body">
        <div id="data"></div>
    </div>
</div>
<br>
<h2>Metadata</h2>
<div class="card">
    <div class="card-body">
        <pre style="white-space: pre-wrap; word-wrap: break-word;"><code id="metadata" class="json"></code></pre>
    </div>
</div>
<br>

<h2>Data Stored</h2>
here list of other nodes where this entity is stored
##<span id="replicasInfo"></span>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.20.1/vis.min.js"></script>
<script src="js/sos.js"></script>
<script type="text/javascript">

    function showVersionInfo() {
        id = $(this).val();
        showVersionInfoById(id);
    };

    function showVersionInfoById(id) {

        $('#manifestid').html(id.substring(0, 15));
        $('#manifestid_full').html(id);
        $('#dag_selected_node').html("");
        $('#dag_selected_node_full').html("");

        // UPDATE THE DAG
        evaluateGraph(id);

        $.get("/manifest/" + id , function(data) {
            $('#manifest').html(data);
            hljs.highlightBlock($('#manifest')[0]);
        })

        $.get("/metadata/" + id , function(data) {
            $('#metadata').html(data);
            hljs.highlightBlock($('#metadata')[0]);
        })

        $.get("/data/" + id , function(data) {
            $('#data').html(data);
        })

//        $.get("/replicas/info/" + id, function(data) {
//            $('#replicasInfo').html(data);
//        });
    };

    function showManifestAlert() {
        $("#manifestAlert").show();
        $("#manifestAlert").fadeTo(2000, 500).slideUp(500, function() {
            $("#manifestAlert").slideUp(500);
            $("#manifestAlert").hide();
        });
    };

    $('button[id^="more"').click(showVersionInfo);

    $("#verifySignature").click(function() {

        var manifestJSON = $("#manifest").text();
        if (!manifestJSON) {
            showManifestAlert();
            return;
        }

        var obj = JSON.parse(manifestJSON);
        var roleid = $("#roleForSignatureVerification option:selected").val();

        $.get("verifySignature/" + obj.GUID + "/role/" + roleid, function (data) {
            $("#signatureResult").html(data);
        });
    });

    $("#verifyIntegrity").click(function() {

        var manifestJSON = $("#manifest").text();
        if (!manifestJSON) {
            showManifestAlert();
            return;
        }

        var obj = JSON.parse(manifestJSON);

        $.get("verifyIntegrity/" + obj.GUID, function (data) {
            $("#integrityResult").html(data);
        });
    });

    $("#showData").click(function() {

        var manifestJSON = $("#manifest").text();
        if (!manifestJSON) {
            showManifestAlert();
            return;
        }

        var obj = JSON.parse(manifestJSON);

        $.get("/data/" + obj.GUID, function (data) {
            $("#data").html(data);
        });
    });

    $("#downloadData").click(function() {

        var manifestJSON = $("#manifest").text();
        if (!manifestJSON) {
            showManifestAlert();
            return;
        }

        var obj = JSON.parse(manifestJSON);

        window.location="/data/" + obj.GUID + "/download";
    });

    $("#showProtectedData").click(function() {

        var manifestJSON = $("#manifest").text();
        if (!manifestJSON) {
            showManifestAlert();
            return;
        }

        var obj = JSON.parse(manifestJSON);
        var roleid = $("#roleForProtectedData option:selected").val();

        $.get("/data/" + obj.GUID + "/role/" + roleid, function (data) {
            $("#data").html(data);
        });
    });

    $("#downloadProtectedData").click(function() {

        var manifestJSON = $("#manifest").text();
        if (!manifestJSON) {
            showManifestAlert();
            return;
        }

        var obj = JSON.parse(manifestJSON);
        var roleid = $("#roleForProtectedData option:selected").val();

        window.location="/data/" + obj.GUID + "/role/" + roleid + "/download";
    });

    $('#grantAccessToData').click(function() {

        var manifestJSON = $("#manifest").text();
        if (!manifestJSON) {
            showManifestAlert();
            return;
        }

        var obj = JSON.parse(manifestJSON);
        var granter = $("#granterRole option:selected").val();
        var grantee = $("#granteeRole option:selected").val();

        $.get("/data/" + obj.GUID + "/grant/" + granter + "/" + grantee, function (data) {
            $('#grantAccessResult').html(data);
        });
    });
</script>
