<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOS WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
#include("header.html")
<div class="container-fluid">

    <h1>Local Node</h1>
    <pre><code class="json">$thisNode.toString()</code></pre>

    <hr>

    <h2>Known nodes</h2>
    #foreach($node in $nodes)
        <div class="row">
            <div class="col-6">
                <button id="pingNode$node.getNodeGUID().toMultiHash()" value=$node.getNodeGUID().toMultiHash() type="button" class="btn btn btn-outline-info">Node info</button>
                <button id="statsNode$node.getNodeGUID().toMultiHash()" value=$node.getNodeGUID().toMultiHash() type="button" class="btn btn btn-outline-info">Stats node</button>
                <br>
                <pre><code class="json">$node.toString()</code></pre>
            </div>
            <div class="col-6">
                <strong>Stats:</strong>
                <br>
                <div id="chart_div$node.getNodeGUID().toMultiHash()"></div>
                <strong>Node Info:</strong>
                <br>
                <i><pre><code id="pingResult$node.getNodeGUID().toMultiHash()" class="json"></code></pre></i>
            </div>
        </div>
        <br>
    #end

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.1/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<script>
    $('button[id^="pingNode"').click(function() {
        id = $(this).val();

        $.get("node/info/" + id, function (data) {

            var obj = JSON.parse(data);
            var pretty = JSON.stringify(obj, undefined, 4);

            $("#pingResult" + id).html(pretty);
            hljs.highlightBlock($('#pingResult' + id)[0]);
        });
    });
</script>

<script>
    google.charts.load('current', {packages: ['corechart', 'line']});

    $('button[id^="statsNode"').click(function() {
        id = $(this).val();

        var jsonData = $.ajax({
            url: "/node/stats/" + id,
            dataType: "json",
            async: false
        }).responseText;

        var data = JSON.parse(jsonData);
        var dataTable = new google.visualization.DataTable(data);

        var options = {
            title: 'Average Availability',
            hAxis: {
                title: 'Time'
            },
            vAxis: {
                title: 'Avg Availability',
                minValue: 0,
                maxValue: 100
            },
            colors: ['#097138'],
            legend: {position: 'none'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div' + id));
        chart.draw(dataTable, options);
    });

</script>

</body>
</html>
