<!doctype html>
<html>
<head>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.css" />

    <style type="text/css">
        #sos-graph {
            /*width: 1200px;*/
            height: 400px;
            border: 1px solid lightgray;
        }
    </style>

</head>
<body>
<div id="header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <h4>Node GUID (short): ${node_id.substring(0, 6)}</h4>
        </div>
        <div class="col-sm-2">
            <button id="verify" type="button" class="btn btn-primary">Verify</button>
        </div>
        <div class="col-sm-2">
            <pre id="verify-result" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-4">
            <div id="jstree"></div>
        </div>
        <div class="col-sm-4">
            <h2>Data</h2>
            <pre id="data" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
        </div>
        <div class="col-sm-4">
            <h2>Metadata</h2>
            <pre id="metadata" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-5">
            <h2>Manifest</h2>
            <pre id="manifest" style="white-space: pre-wrap; word-wrap: break-word;"></pre>
        </div>

        <div class="col-sm-7">
            <div id="sos-graph"></div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-5">
            <h2>Data Stored</h2>
            here list of other nodes where this entity is stored
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.18.1/vis.min.js"></script>

<script>
    $(function(){
        $("#header").load("header.html");
    });

    $(function () {
        $('#jstree').jstree({
            'plugins': ["wholerow"],
            'core' : { ${tree} } });

        $('#jstree').on('loaded.jstree', function () {
            $('#jstree').jstree('open_all');
        })
        $('#jstree').on("changed.jstree", function (e, data) {
            $('#manifest').html('');
            $('#metadata').html('');

            $.get("/graph/data/" + data.selected[0] , function(data) {
                $('#data').html(data);
            })

            $.get("/graph/" + data.selected[0] , function(data) {
                buildAndRenderGraph(data);
            });

            function buildAndRenderGraph(data) {
                data = JSON.parse(data);
                var nodes = new vis.DataSet(data['nodes']);
                var edges = new vis.DataSet(data['edges']);

                // create a network
                var container = $('#sos-graph')[0];
                var graphData = {
                    nodes: nodes,
                    edges: edges
                };
                var options = {
                    layout: {
                        improvedLayout:true
                    }
                };

                var network = new vis.Network(container, graphData, options);

                network.on("click", function (params) {
                    id = params['nodes'][0];

                    if (id.startsWith('DATA-')) {
                        return;
                    }

                    $.get("/graph/manifest/" + id , function(data) {
                        $('#manifest').html(data);
                    })

                    $.get("/metadata/" + id , function(data) {
                        $('#metadata').html(data);
                    })

                    $.get("/graph/data/" + id , function(data) {
                        $('#data').html(data);
                    })

                    $.get("/graph/" + id , function(data) {
                        buildAndRenderGraph(data);
                    });

                });
            }

        });

    });

    $( "#verify" ).click(function() {
        var instance = $('#jstree').jstree(true);
        var id = instance.get_selected(true)[0].id;
        console.log(id);

        $.get("/verify/" + id , function(data) {
            $('#verify-result').html(data);
        })
    });
</script>

</body>
</html>
