<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOS WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>
<body>
<div id="header"></div>
<div class="container-fluid">

    <form action="/usro/user" method="POST">
        <input type="text" name="username" />
        <input type="submit" value="Submit">
    </form>

    <h1>List of users</h1>
    #foreach($user in $users)
        <pre style="white-space: pre-wrap; word-wrap: break-word;"><code class="json">$user.toString()</code></pre>
        <br>
    #end

    <hr>

    <form action="/usro/role" method="POST">

        <select name="userGUID">
            #foreach($user in $users)
                <option value=$user.guid().toMultiHash()>$user.getName() - $user.guid().toShortString()</option>
            #end

        </select>
        <input type="text" name="rolename" />
        <input type="submit" value="Submit">
    </form>

    <h1>List of Roles</h1>
    #foreach($role in $roles)
        <pre style="white-space: pre-wrap; word-wrap: break-word;"><code class="json">$role.toString()</code></pre>
    #end

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.1/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(function(){
        $("#header").load("header.html");
    });
</script>
</body>
</html>
