<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOS WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
</head>
<body>
#include("header.html")
<div class="container-fluid">

    <form action="/usro/user" method="POST">
        <input type="text" name="username" />
        <input type="submit" value="Submit">
    </form>

    <h1>List of users</h1>
    #foreach($user in $users)
        <div id="$user.guid().toMultiHash()">
            <button id="delete_$user.guid().toMultiHash()" type="button" class="btn btn btn-danger">Delete</button>
            <br>
            <pre style="white-space: pre-wrap; word-wrap: break-word;"><code class="json">$user.toString()</code></pre>
            <br>
        </div>
    #end

    <hr>

    <form action="/usro/role" method="POST">

        <select name="userGUID">
            #foreach($user in $users)
                <option value=$user.guid().toMultiHash()>$user.getName() - $user.guid().toShortString()</option>
            #end
        </select>
        <input type="text" name="rolename" />
        <input type="submit" value="Submit">
    </form>

    <h1>List of Roles</h1>
    #foreach($role in $roles)
        <div id="$role.guid().toMultiHash()">
            <button id="delete_$role.guid().toMultiHash()" type="button" class="btn btn btn-danger">Delete</button>
            <br>
            <pre style="white-space: pre-wrap; word-wrap: break-word;"><code class="json">$role.toString()</code></pre>
            <br>
        </div>
    #end

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.1/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script>
    $('button[id^="delete_"').click(function() {
        id = $(this).attr("id").split("delete_")[1];

        $.ajax({
            url: "/usro/" + id,
            type: 'DELETE',
            success: function(data) {
                console.log("remove user/role from view");
                $('#' + id).remove()
            }
        });
    });
</script>
</body>
</html>
