<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOS WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
</head>
<body>
<div id="header"></div>
<div class="container-fluid">

    <h1>List of users</h1>

    <ul>
        #foreach($user in $users)
            <li>
                <pre style="white-space: pre-wrap; word-wrap: break-word;">$user.toString()</pre>
            </li>

        #end
    </ul>

    <h1>List of Roles</h1>

    <ul>
        #foreach($role in $roles)
            <li>
                <pre style="white-space: pre-wrap; word-wrap: break-word;">$role.toString()</pre>
            </li>

        #end
    </ul>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $(function(){
        $("#header").load("header.html");
    });
</script>
</body>
</html>
